@{
    ViewData["Title"] = "Home Page";
}

<html>
<style>

    a:hover {
        background-color: dimgrey;
    }
    .janita {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

</style>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome Admin </h1>

    </div>
    <br />
    <br />
    
   <div class="janita">
     

      

           <img src="http://www.pngmart.com/files/10/Volvo-Bus-PNG-Free-Download.png"  >

     
   </div>
</body>


</html>
    
  

