@{
    Layout = null;
}

<style>

    div {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .head
    {
        text-align:center;
        text-decoration-color:cadetblue;
        
    }
</style>



<h1 class="head"> Login Failed!!!! </h1>
<div>
    @Html.ActionLink("Try Again", "Login", "Login")

</div>